@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --background: #E8E8E8; */
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Sacramento";
  src: url("./fonts/Sacramento-Regular.ttf");
  font-weight: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "OpenSans", sans-serif;
}

@theme inline {
  --font-sacramento: "Sacramento", cursive;
    /* warna custom */
  --color-primary: #FF8906;   /* orange */
  --color-secondary: #8E6447; /* coklat */
  --color-accent: #f59e0b;    /* kuning */
  --color-muted: #9ca3af;     /* abu */
}